<launch>
  <arg name="device_id" default="0" doc="Azure Kinect DK device ID (K4A_DEVICE_DEFAULT)"/>
  <arg name="color_resolution" default="720P"/>
  <arg name="depth_mode" default="NFOV_UNBINNED"/>
  <arg name="camera_fps" default="30"/>

  <node pkg="azure_kinect_ros_driver" type="azure_kinect_publisher_node" name="azure_kinect_publisher" output="screen">
    <param name="device_id" value="$(arg device_id)"/>
    <param name="color_resolution" value="$(arg color_resolution)"/>
    <param name="depth_mode" value="$(arg depth_mode)"/>
    <param name="camera_fps" value="$(arg camera_fps)"/>
  </node>
</launch>