<launch>
    <arg name="open_serial" default="true" />
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud_rate" default="115200" />
    <arg name="base_link_pub" default="/robot_pose_in_world" />
    <arg name="kinect_loop_pub" default="/kinect/loop/targets_in_world" />
    <arg name="kinect_circle_pub" default="/kinect/circle/targets_in_world" />
    
    <include file="$(find fast_livo)/launch/mapping_mid360_my.launch" />
    <include file="$(find yolo_realsense_kinect)/launch/yolo_realsense_kinect.launch" />
    <include file="$(find tf_transformer)/launch/transformer.launch" />
    
    <group if="$(arg open_serial)" >
    <node pkg="serial_sender" type="serial_kinect_lidar" name="serial_kinect_lidar" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud_rate" value="$(arg baud_rate)" />
        <param name="base_link_pub" value="$(arg base_link_pub)" />
        <param name="kinect_loop_pub" value="$(arg kinect_loop_pub)" />
        <param name="kinect_circle_pub" value="$(arg kinect_circle_pub)" />
        <param name="en_kinect_loop" value="false" />
        <param name="en_kinect_circle" value="false" />
        <param name="en_base_link" value="true" />
    </node>
    </group>


</launch>